[submodule "TicTacToeReact"]
	path = TicTacToeReact
	url = https://github.com/oddtrix/TicTacToeReact.git
[submodule "TicTacToeApi"]
	path = TicTacToeApi
	url = https://github.com/oddtrix/TicTacToeApi.git
